<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
          <a href="{{ page.next.url | post_url }}" title="{{ page.next.title }}" class="{{ page.next.url | nav_link_class }}">&larr; Next</a>
        </div> 

        <div class="right"> 
          <a href="{{ page.previous.url | post_url }}" title="{{ page.previous.title }}" class="{{ page.previous.url | nav_link_class }}">Previous &rarr;</a>
        </div> 

        <div class="clear">&nbsp;</div> 
</div> 
